@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url(variables.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--background-color);
    font-family: 'Poppins', sans-serif;
}
/* #region header module */
.main-nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 3svh;
    align-items: center;
    padding: 4.5svh 100px;
    width: 100%;
    height: 8svh;
}
.main-nav > h3{
    font-size: 2em;
    font-weight: 400;
    letter-spacing: 0.2em;
    color: var(--primary-color);
}

.main-nav > lu > li{
    display: inline-block;
    margin-left: 2.5vw;
    list-style: none;
    text-decoration: none;
}

.main-nav > lu > li > a{
    padding: 0.5em 1em;
    text-decoration: none;
    color: var(--text-color);
}
.main-nav > lu > li > a:hover{
    transition: 0.3s ease;
    color: var(--primary-color);
}

#home{
    color: var(--primary-color);
}
/* #endregion header module */
/* #region home module */
.home-view{
    display: grid;
    width: 100%;
    height: auto;
    margin-top: 16svh;
    margin-bottom: 25svh;
    grid-template-columns: 1.2fr 1fr;
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas: 
    "content image";
}

.home-content{
    display: flex;
    position: relative;
    flex-direction: column;
    grid-area: content;
    justify-content: center;
    padding-left: 20vw;
    gap: 2svh;
    font-family: 'Poppins', sans-serif;
}

.home-content > h2{
    color: var(--primary-color);
    font-size: 4.5vw;
    font-weight: 400;
}

.home-content > p{
    color: var(--text-color);
    font-weight: 500;
    font-size: 1.5em;
    letter-spacing: 0.1em;
}

.home-content > a{
    text-align: center;
    width: 13vw;
    max-width: 184px;
    color: var(--text-color);
    text-decoration: none;
    padding: 0.7em;
    border-radius: 0.2em;
    background-color: var(--primary-color);
}
.home-image{ 
    display: flex;
    grid-area: image;
}
.home-image img{
    width: 50svh;
    height: 50svh;
}
/* #endregion home module */
/* #region about-us module */
.about-us-view{
    display: grid;
    width: 100%;
    height: auto;
    margin-bottom: 27svh;
    grid-template-columns: 1fr 1.2fr;
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas: 
    " image content";
}

.about-us-content{
    display: flex;
    position: relative;
    flex-direction: column;
    padding-left: 3svh;
    grid-area: content;
    justify-content: center;
    gap: 2svh;
    font-family: 'Poppins', sans-serif;
}

.about-us-content > h3{
    color: var(--primary-color);
    font-weight: 400;
}
.about-us-content > h2{
    color: var(--text-color);
    font-size: 3.5vw;
    font-weight: 600;
}

.about-us-content > p{
    color: var(--text-color);
    font-weight: 500;
    font-size: 1.2vw;
    letter-spacing: 0.1em;
}

.about-us-content > a{
    text-align: center;
    width: 13vw;
    max-width: 184px;
    color: var(--text-color);
    text-decoration: none;
    padding: 0.7em;
    border-radius: 0.2em;
    background-color: var(--primary-color);
}

.about-us-image{ 
    padding-left: 20vw;
    padding-right: 2svh;
    display: flex;
    grid-area: image;
}
.about-us-image img{
    width: 50svh;
    height: 50svh;
}
/* #endregion about-us module */
/* #region menu module */
.menu{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-bottom: 26svh;
   
}

.menu > h3{
    align-self: center;
    padding-bottom: 0.2svh;
    color: var(--primary-color);
    font-weight: 400;
    letter-spacing: 0.1em;
} 

.menu > h2{
    align-self: center;
    color: var(--text-color);
    margin-bottom: 6svh;
    font-size: 3em;
    text-align: center;
    font-weight: 500;
}
.images-menu{
    align-self: center;
    display: flex;
    column-gap: 2.5vw;
    flex-wrap: wrap;
}

.images-menu > div{
    background-color: var(--background-image-color);
    width: 350px;
    height: auto;
    padding-bottom: 2vw;
    text-align: center;
    border-radius: 0.2vw;
}

.food-card{
    height: auto;
    word-spacing: 0.5vw;
    border: 5px groove var(--text-color);
}
.food-card > h2{
    padding-bottom: 0.5vw;
    font-weight: 500;
}

.food-card > h3{
    padding-bottom: 0.5vw;
    font-weight: 400;
}

.food-card > p{
    font-size: 20px;
    font-weight: 600;
    color: var(--primary-color);
}

.image-conatainer{
    align-self: center;
    margin-bottom: 1vw;
    width: 100%;
    height: 200px;
    max-height: 200px;
}
.image-conatainer img{
    width: 75vw;
    height: 75vw;
    max-width: 200px;
    max-height: 200px;  
}


@media (max-width: 1100px) {
/* #region header and home responsive module */
.main-nav{
    padding: 2em 1.5em;
}

.main-nav > h3{
    font-size: 1.5em;
}
.main-nav .navigation{
    display: none;
}
.toggle{
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: url(/storage/img/menu.png);
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 11;
}

.toggle.active{
    position: fixed;
    right: 20px;
    background: url(/storage/img/close.png);
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;
}

.navigation.active
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    display: flex;
    padding-top: 2svh;
    padding-bottom: 2svh;
    row-gap: 1.5em;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.2em;
    background: var(--background-mobile-menu);
    z-index: 10;
}

.home-content{
    padding-left: 0;
    text-align: center;
}
.home-content > h2{
    font-size: 3.5em;
}

.home-content > a{
    align-self: center;
    width: 35%;
}
.home-view{
    margin-top: 0svh;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2,1fr);
    grid-template-areas:
    "content"
    "image";
}
.home-image{ 
    padding-top: 3.5svh;
    justify-content: center;
}
.home-image img{
    max-width: 70vw;
    max-height: 70vw;
}
/* #endregion header and home responsive module*/
/* #region abour-us responsive module */
.about-us-view{
    margin-bottom: 10svh;
}
.about-us-content{
    padding-left: 0;
    row-gap: 2em;
    margin-bottom: 3em;
    text-align: center;
}
.about-us-content > h2{
     font-size: 8.5vw;
 }
.about-us-content > p{
    font-size: 3.5vw;
}

.about-us-content > a{
    font-size: 3vw;
    align-self: center;
    width: 35%;
 }
.about-us-view{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2,1fr);
    grid-template-areas:
    "content"
    "image";
 }
.about-us-image{ 
    padding: 0;
    justify-content: center;
 }
.about-us-image img{
    max-width: 70vw;
    max-height: 70vw;
}
/* #endregion abour-us responsive module */
/* #region menu responsive module */
.images-menu{
    justify-content: center;
    row-gap: 3svh;
}
.food-card{
    text-align: center;
    max-width: 75vw;
    height: auto;
}

.food-card > h2{
    font-size: 7vw;
}

.food-card > h3{
    font-size: 5vw;
}
.menu > h2{
    font-size: 8.5vw;
}
.image-conatainer{
    width: auto;
    height: auto;
}
.image-conatainer img{
    width: 50vw;
    height: 50vw;
}
/* #endregion menu responsive module */

}