:root{
    --primary-color: #ff702a;
    --background-color: #1e1d2b;
    --background-image-color: #ffefe8; 
    --text-color: #fff;
    --secondary-text-color: #000;
    --background-mobile-menu: #2c2b47;
}