:root{
    --aside-background-color: #CAFFD0;
    --gallery-background-color: #C9E4E7;
    --text-color: #1E1014;
    --banner-card-color: #B4A0E5;
    --cards-background-color: #fff; 
    --buttom-color: #CA3CFF;  
}