<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CampusShop</title>
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <aside>
        <h1>CampusShop</h1>
        <nav>
          <ul class="nav">
            <li><img src="../storage/img/prendas.png" class="icon"><a href="../index.html">Todos los productos</a></li>
            <li><img src="../storage/img/abrigo.png" class="icon"><a href="./gallery-1.html">Abrigos</a></li>
            <li><img src="../storage/img/camiseta.png" class="icon"><a id="gallery-2" href="./gallery-2.html">Camisetas</a></li>
            <li><img src="../storage/img/pantalon.png" class="icon"><a href="./gallery-3.html">Pantalones</a></li>
            <li id="shopping-cart"><img src="../storage/img/cart.png" class="icon"><a href="./shopping-cart.html">Carrito (3)</a></li>
          </ul>
        </nav>
        <footer>2023 Camper</footer>
    </aside>
    <main>
        <h2>Camisetas</h2>
        <section>
            <article>
                <img src="https://http2.mlstatic.com/D_NQ_NP_2X_906094-MCO53976036500_022023-F.webp" alt="">
                <div>
                  <h3>Camiseta 01</h3>
                  <p>$ 1.500</p>
                  <a href="">Agregar</a>
                </div>
              </article>
              <article>
                <img src="https://http2.mlstatic.com/D_NQ_NP_2X_649847-MCO43854241255_102020-F.webp" alt="">
                <div>
                  <h3>Camiseta 02</h3>
                  <p>$ 2.500</p>
                  <a href="">Agregar</a>
                </div>
              </article>
              <article>
                <img src="https://http2.mlstatic.com/D_NQ_NP_2X_995623-MCO70722158553_072023-F.webp" alt="">
                <div>
                  <h3>Camiseta 03</h3>
                  <p>$ 1.000</p>
                  <a href="">Agregar</a>
                </div>
              </article>
              <article>
                <img src="https://http2.mlstatic.com/D_NQ_NP_2X_776916-MCO72088562654_102023-F.webp" alt="">
                <div>
                  <h3>Camiseta 04</h3>
                  <p>$ 1.500</p>
                  <a href="">Agregar</a>
                </div>
              </article>
              <article>
                <img src="https://http2.mlstatic.com/D_NQ_NP_2X_968038-MCO53410409233_012023-F.webp" alt="">
                <div>
                  <h3>Camiseta 05</h3>
                  <p>$ 2.000</p>
                  <a href="">Agregar</a>
                </div>
              </article>
      </main>
</body>
</html>