<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CampusShop</title>
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <aside>
        <h1>CampusShop</h1>
        <nav>
            <ul class="nav">
                <li><img src="../storage/img/prendas.png" class="icon"><a href="../index.html">Todos los productos</a></li>
                <li><img src="../storage/img/abrigo.png" class="icon"><a href="./gallery-1.html">Abrigos</a></li>
                <li><img src="../storage/img/camiseta.png" class="icon"><a href="./gallery-2.html">Camisetas</a></li>
                <li><img src="../storage/img/pantalon.png" class="icon"><a href="./gallery-3.html">Pantalones</a></li>
                <li id="shopping-cart"><img src="../storage/img/cart.png" class="icon"><a href="./shopping-cart.html">Carrito (3)</a></li>
            </ul>
        </nav>
        <footer>2023 Camper</footer>
    </aside>
    <main>
        <h2>Carrito</h2>
        <section>
            <article>
                <img src="https://http2.mlstatic.com/D_NQ_NP_2X_731406-MCO42646277112_072020-F.webp" alt="">
                <div>
                  <h3>Pantalon 01</h3>
                  <p>$ 2.500</p>
                  <a href="">Agregar</a>
                </div>
              </article>
              <article>
                <img src="https://http2.mlstatic.com/D_NQ_NP_2X_795748-MCO70527773883_072023-F.webp" alt="">
                <div>
                  <h3>Pantalon 02</h3>
                  <p>$ 2.000</p>
                  <a href="">Agregar</a>
                </div>
              </article>
              <article>
                <img src="https://http2.mlstatic.com/D_NQ_NP_2X_758206-MCO70501309390_072023-F.webp" alt="">
                <div>
                  <h3>Pantalon 03</h3>
                  <p>$ 1.500</p>
                  <a href="">Agregar</a>
                </div>
              </article>
              <article>
                <img src="https://http2.mlstatic.com/D_NQ_NP_2X_947436-MCO69626235546_052023-F.webp"" alt="">
                <div>
                  <h3>Pantalon 04</h3>
                  <p>$ 2.000</p>
                  <a href="">Agregar</a>
                </div>
              </article>
              <article>
                <img src="https://http2.mlstatic.com/D_NQ_NP_2X_618657-MCO69523195685_052023-F.webp" alt="">
                <div>
                  <h3>Pantalon 05</h3>
                  <p>$ 2.500</p>
                  <a href="">Agregar</a>
                </div>
              </article>
        </section>
      </main>
</body>
</html>